.about-section-1{
  padding: 80px 0;
  background-color: #f5f5f5
}
.about-section-1 h3{
  float: left;
  width: 50%;
  line-height: 237px;
  color: #0e1015;
  font-size: 30px;
  font-weight: 300
}
.shuffle{
  float: right;
  width: 50%;
}
.sudoku-container {
  display: flex;
  margin:auto;
  flex-wrap: wrap;
  width: 238px;
}
.cell {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid #aaa;
  margin-right: -1px;
  margin-bottom: -1px;
}
.cell:nth-child(3n) {
  margin-right: 0;
}
.cell:nth-child(27n) {
  margin-bottom: 0;
}
.cell-move {
  transition: transform 1s;
}