.section-1{
  background-image: url('../public/image/cont_bg_1.jpg');
}
.sudoku-container {
  display: flex;
  margin:auto;
  flex-wrap: wrap;
  width: 238px;
}
.cell {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid #aaa;
  margin-right: -1px;
  margin-bottom: -1px;
}
.cell:nth-child(3n) {
  margin-right: 0;
}
.cell:nth-child(27n) {
  margin-bottom: 0;
}
.cell-move {
  transition: transform 1s;
}